<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <atom:link href="http://few.heroku.com/feed/vice_dos_and_donts.rss" rel="self" type="application/rss+xml" />
    <description>{{description}}</description>
    <title>{{{title}}}</title>
    <generator>FutureExWife (1.0)</generator>
    <link>{{link}}</link>
    {{#items}}
      <item>
        <title>{{{title}}}</title>
        <description>{{{description}}}</description>
        <link>{{link}}</link>
        <guid>{{link}}</guid>
        <pubDate>{{timestamp}}</pubDate>
      </item>
    {{/items}}
  </channel>
</rss>
